/* ==========================================================================
   Harry Styles
   ========================================================================== */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

:root {
  --background: #000;
  --textColor: #fff;
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #fcfcfc;
		--textColor: #0f0f11;
	}
}

body {
   font-family: "MyriadPro-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
   font-size: 24px;
   color: var(--textColor);
   background: var(--background);
}

.section p,
.footer {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-size: 20px;
	opacity: 0.9;
	line-height: 26px;
}

h1, h2 {
	background: linear-gradient(#fff 33%, #8c8c8c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(0px 2px 4px rgba(0,0,0,.5));
	margin: 0;
}

@media (max-width: 580px) {
	h2 {
		background: linear-gradient(#fff 33%, #fff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

h1 {
	font-family: "MyriadPro-Semibold";
	font-size: 6vw;
}

h2 {
	font-family: "MyriadPro-Semibold";
	font-size: 5vw;
}

@media (max-width: 800px) {
	h1 {
		font-size: 64px;
	}
	
	h2 {
		font-size: 52px;
	}	
}

h3 {
	margin: 4px;
}

h4 {
	font-family: "MyriadPro-Semibold";
	font-size: 32px;
	margin: 0;
	text-align: center;
}

p {
	margin: 16px;
}

a {
	color: inherit;
}

.badge {
	display: inline-block;
	border-radius: 22px;
	padding: 6px 12px 4px 12px;
	background: rgba(0,0,0,0.1);
	backdrop-filter: blur(40px) saturate(200%);
}

.hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 96vw;
	height: 80vh;
	margin: 2vw auto;
	overflow: hidden;
	border-radius: 48px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0)
}

.hero p {
	opacity: 0.8;
	filter: drop-shadow(0px 2px 4px rgba(0,0,0,.5));
}

.cta {
	color: white;
	z-index: 2;
	text-align: center;
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,.4));
}

.showroom {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.poster, video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.button-cta {
	display: inline-block;
	text-decoration: none;
	background: linear-gradient(#4088C3, #2C638C);
	border: 1px solid #295E87;
	border-radius: 22px;
	color: white;
	padding: 10px 24px 6px 24px;
	margin-top: 16px;
	font-size: 20px;
	text-shadow: 0px 1px 2px #1B1B25;
	box-shadow: inset 0 4px 5px rgba(255, 255, 255, 0.3), inset 0 -3px 8px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
}

.button-cta:hover {
	background: linear-gradient(#2C638C, #4088C3);
	box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.3), inset 0 -3px 8px rgba(255, 255, 255, 0.3);
	text-shadow: 0px 0px 1px #1B1B25;
}

.mute-switch {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 40px;
	height: 40px;
	border-radius: 12px;
	background: rgba(0, 0, 0, 0.1);
	background-size: 100% 100%;
	z-index: 9;
}

#mute-switch-off,
#mute-switch-on {
	width: 100%;
	height: 100%;
	position: absolute;
}

#mute-switch-on {
	opacity: 0;
}

.mute-switch:hover {
	cursor: pointer;
}

.a-la-carte {
	max-width: 1400px;
	margin: 64px auto auto auto;
	padding: 2vw;
}

/* Preload images to avoid a flash on hover */
.a-la-carte:after {
	content: url("../assets/icon_6k_leo.png") url("../assets/icon_6k_snow.png") url("../assets/icon_6k_lion.png") url("../assets/icon_6k_mountain.png") url("../assets/icon_ipad_leo.png") url("../assets/icon_ipad_snow.png") url("../assets/icon_ipad_lion.png") url("../assets/icon_ipad_mountain.png") url("../assets/icon_iphone_leo.png") url("../assets/icon_iphone_snow.png") url("../assets/icon_iphone_lion.png") url("../assets/icon_iphone_mountain.png");
	display: block;
	height: 0;
	width: 0;
	visibility: hidden;
	overflow: hidden;
	z-index: -1;
}

.a-la-carte .row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.a-la-carte .item {
	text-align: center;
	padding: 0 8px;
	max-width: 25%;
	margin-bottom: 40px;
}

@media (max-width: 1160px) {
	.a-la-carte .item {
		max-width: 50%;
	}	
}

@media (max-width: 560px) {
	.a-la-carte .item {
		max-width: 100%;
	}	
}

.thumbnail {
	border-radius: 20px;
	border: 8px solid black;
	min-width: 240px;
	width: 100%;
	background: black;
}

.download-options {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

.download-options a {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	align-items: center;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: inherit;
	padding: 4px 8px 8px 8px;
	border-radius: 8px;
	background: rgba(255,255,255,0.05);
}

.download-options a:nth-child(2) {
	margin: auto 8px;
}

.download-options a:hover {
	background: rgba(255,255,255,0.1);
}

@media (prefers-color-scheme: light) {
	.download-options a {
		background: rgba(0,0,0,0.05);
	}
	
	.download-options a:hover {
		background: rgba(0,0,0,0.1);
	}
}

.download-options .device-icon {
	display: block;
	width: 60px;
	height: 60px;
	background-size: 100% 100%;
}

.download-options a:nth-child(1) .device-icon {
	background-image: url("../assets/icon_6k_off.png");
}

.download-options a:nth-child(2) .device-icon {
	background-image: url("../assets/icon_ipad_off.png");
}

.download-options a:nth-child(3) .device-icon {
	background-image: url("../assets/icon_iphone_off.png");
}

.item:nth-child(1) a:nth-child(1):hover .device-icon {
	background-image: url("../assets/icon_6k_leo.png");
}

.item:nth-child(1) a:nth-child(2):hover .device-icon {
	background-image: url("../assets/icon_ipad_leo.png");
}

.item:nth-child(1) a:nth-child(3):hover .device-icon {
	background-image: url("../assets/icon_iphone_leo.png");
}

.item:nth-child(2) a:nth-child(1):hover .device-icon {
	background-image: url("../assets/icon_6k_snow.png");
}

.item:nth-child(2) a:nth-child(2):hover .device-icon {
	background-image: url("../assets/icon_ipad_snow.png");
}

.item:nth-child(2) a:nth-child(3):hover .device-icon {
	background-image: url("../assets/icon_iphone_snow.png");
}

.item:nth-child(3) a:nth-child(1):hover .device-icon {
	background-image: url("../assets/icon_6k_lion.png");
}

.item:nth-child(3) a:nth-child(2):hover .device-icon {
	background-image: url("../assets/icon_ipad_lion.png");
}

.item:nth-child(3) a:nth-child(3):hover .device-icon {
	background-image: url("../assets/icon_iphone_lion.png");
}

.item:nth-child(4) a:nth-child(1):hover .device-icon {
	background-image: url("../assets/icon_6k_mountain.png");
}

.item:nth-child(4) a:nth-child(2):hover .device-icon {
	background-image: url("../assets/icon_ipad_mountain.png");
}

.item:nth-child(4) a:nth-child(3):hover .device-icon {
	background-image: url("../assets/icon_iphone_mountain.png");
}

.file-size {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-size: 12px;
	opacity: 0.5;
}

.section, 
.footer {
	width: 100%;
	max-width: 600px;
	padding: 16px;
	text-align: justify;
	margin: 104px auto;	
}

.center-wrapper {
	width: 100%;
	margin: auto;
	text-align: center;
}

.shameful-self-promotion {
	text-align: center;	
}
.shameful-self-promotion .row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.shameful-self-promotion .row a {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	max-width: 200px;
	min-width: 180px;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 40px;
}

.shameful-self-promotion img {
	width: 64px;
	margin: 8px;
}

.footer {
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	opacity: .6;
	margin-bottom: 40px;
}